/*THEME COLORS */
.color-white{
	color: #FFFFFF;
}

.color-black{
	color: rgba(0,0,0,0.7);
}

.color-green{
	color: #8fc31f;
}

.bg-color-white{
	background-color: #fff;
}

.bg-color-black{
	background-color: rgba(0,0,0,0.7);
}

.bg-color-green{
	background-color: #8fc31f;
}

.box{
	width: 300px;
	height: 300px;
	background-color: #555;
}

.text{
	font-size: 50px;
	background-color: #003355;
}

.text:active{
	background-color: #553300;
}

.box:active{
	background-color: #aaa;
}

.textBig {
	font-size: 2rem;
	font-weight: font-weight: 700;
}

.textMedium2 {
	color: white;
	font-size: 1.15rem;
	font-weight: 500;
	line-height: 0.5rem;
	margin-bottom: 0.45rem;
	margin-top: 2.0rem;
}

.textMedium1 {
	color: white;
	font-size: 0.85rem;
	font-weight: 400;
	line-height: 1rem;
	margin-bottom: 0rem;
}

/* Smallest font size */
.textSmall{
	color: white;
	font-size: 0.75rem;
	font-weight: 100;

}

/* HOLDER */
html,body{
	width: 100%;
	height: 100%;
	min-height: 35rem;
	background: #134e5e; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #134e5e, #71b280); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #134e5e, #71b280); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.holder{
	margin-bottom: 5rem;
}

#master{
	/*position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

*/
	position: relative;
}

.slick,
.slick-list,
.slick-track,
.content{
	height: 100%;
	width:100%;
	position: absolute;

	/*position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);*/
}


#title-container{
	/*background-color: rgba(0,100,0,0.2);*/
	height: 3.5rem;
	/*position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -292%);*/
	/*margin-top: 6%;*/
}

/* PROJECT TITLE */
#projectTitle{
	font-size: 2.5rem;
	/*background-color: rgba(0,0,0,0.1);*/
	border: none;
	color: white;
	border-radius: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	line-height: 100%;

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 100;
}

/* 
To contain everything except for navigation buttons, 
so that all content are in the same size 
Everything = programming list, resume page, music list, programming/music slicker 
EXCLUDE: PROGRAMMING | RESUME | MUSIC, NEXT, PREV, BACK(if we're still doing back);
*/
#master-container{
	/*height: 40%;*/
	height: 60%;
	width: 100%;
	min-height: 30rem;
	/*position: relative;
*/	background-color: rgba(0,0,100,0.2);


	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -45%);
	
}

.programming-card {
	border: 1px solid rgba(255,255,255,0.8);
	height: 12rem;
	vertical-align: middle;
}


#resumePage .row [class*='col-6']:not(:last-child):after {
	background: #FFFFFF;
	width: 1px;
	height: 90%;
	vertical-align: middle;
	content: "";
	display:block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	min-height: auto;

}

.text-detail {
	padding-right: 1rem;
	padding-left: 1rem;
    height: 0px;
    overflow: hidden;
    transition: height 0.3s;
    -moz-transition: height 0.3s; /* Firefox 4 */
    -webkit-transition: height 0.3s; /* Safari and Chrome */
    -o-transition: height 0.3s; /* Opera */
}

.expandableTextHeader{
	transition-duration: 0.05s;
}

.expandableTextHeader:hover {
	opacity: 0.7;

}


/* DEMO & SLICK */
#demo{
	table-layout:fixed;
}

.demo{
	border: 1px solid black;
	margin: 0 auto;
	/*height: inherit;*/
	/*table-layout:fixed;*/
}

.demo .row .col:first-child{
	border-right: 1px solid black;
	height: inherit;
}

.demo .description{
	padding-left: 2em;
	padding-right: 2em;
}


/* Default design for buttons inside a demo, eg:"VIEW DEMO" and "VIEW ON GITHUB"; */
.demoButton {
	background-color: transparent;
	border: 1px solid rgba(255,255,255,0.4);
	color: white;
	padding: 2px;
	text-align: center;
	text-decoration: none;
	font-size: 0.9rem;
	margin: 6px 2px;
	width: 12rem;
	outline:none;
	display: inline;
}

.demoButton:focus {outline:none;}

.demoButton:hover {
	background-color: rgba(255,255,255,0.2);
	outline:none;

}


/* PREV & NEXT BUTTON */
#demo-next {
	position: absolute;
	border: none;
	top: 23%;
	right: 2px;
	height: 60%;
	z-index: 500;
	background-color: transparent;
}

#demo-prev {
	position: absolute;
	border: none;
	top: 23%;
	left: 2px;
	height: 60%;
	width: 95%;
	z-index: 500;
	background-color: transparent;

}

#demo-next button:hover {
	color: rgba(255,255,255,0.7);
	transition-duration: 0.1s;
}

#demo-prev button:hover {
	color: rgba(255,255,255,0.7);
	transition-duration: 0.1s;
}


#demo-next button {
	background-color: transparent;
	border: none; /*1px solid rgba(255,255,255,0.4);*/
	z-index: 500;
	height: 100%;
	width: 100%;
	font-size: 0.9rem;
	line-height: 70%;
	color: #FFFFFF;
	text-align: right;
	outline: none;
}

#demo-prev button {
	background-color: transparent;
	border: none;/*1px solid rgba(255,255,255,0.4);*/
	z-index: 500;
	height: 100%;
	width: 100%;
	font-size: 0.9rem;
	line-height: 70%;
	color: #FFFFFF;
	text-align: left;
	outline: none;
}

/* PREV & NEXT's ARROW SIZE */
#demo-next span{
	font-size: 4.5rem;
}

#demo-prev span{
	font-size: 4.5rem;
}

/* BOTTOM BUTTONS */
#master-buttons{
	bottom: 1.4rem;
	outline: none;
}

#master-buttons button{
	font-size: 1.5rem;
	background-color: rgba(0,0,0,0.0);
	border: none;
	color: white;
	border-radius: 0;
	z-index: 5;
	height: 4rem;
	vertical-align: middle;
	width: 100%;
	outline: none;

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font: light;
	font-weight: 100;
}

#master-buttons button:hover{
	color: rgba(255,255,255,0.8);
	font-size: 1.55rem;
	transition-duration: 0.2s;
}

/* Vertical separating line between bottom buttons */
#master-buttons .row [class*='col']:not(:last-child):after {
	background: #FFFFFF;
	width: 1px;
	height: 80%;
	vertical-align: middle;
	content: "";
	display:block;
	position: absolute;
	top:10%;
	bottom: 0;
	right: 0;
	min-height: auto;
}



/* BACK BUTTON */
#backButton{
	color: white;
	font-size: 2rem;
	line-height: 100%;


	/*background-color: rgba(0,0,0,0.1);*/
	background-color: transparent;
	border: none;
	outline: none;
	
	border-radius: 0;
	z-index: 5;
	width: 100%;
	height: 100%;

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: lighter;
}

#backButton:hover {
	color: rgba(255,255,255,0.8);
	transition-duration: 0.2s;

}

/* To make button's text position in top right */
#backButton span {
	display: block;
	position: absolute;
	top:0;
	right:0;
}



/* Magnific-Popup animation configuration */

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}