.box{
	width: 300px;
	height: 300px;
	background-color: #555;
}

.text{
	font-size: 50px;
	background-color: #003355;
}

.text:active{
	background-color: #553300;
}

.box:active{
	background-color: #aaa;
}